@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
@import 'tailwindcss';

@theme{
    --font-alan-sans: 'Alan Sans',sans-serif;
    --breakpoint-ssm: 300px;
    --breakpoint-ssmd:638px
}
/* src/index.css */

